<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/plugins/dropzone/dropzone.css">
    <link rel="stylesheet" href="/static/layui-v2.5.6/layui/css/layui.css" media="all">

</head>
<body>
    <!-- 头部标签 -->
    <div class="title">
        <div class="title_content">
            <div class="title_logo">
                <img src="/static/img/bbslogos.jpg" alt="">
                <div class="title_logo_t"><p>BBS论坛</p></div>
            </div>
            <!-- ulli标签块 -->
            <div class="title_mes">
                <ul>
                    <li><a href="/index/">全部</a></li>
                    <li><a href="/district/">42区</a></li>
                    <li><a href="/punster/">段子</a></li>
                    <li><a href="/picdis/">图片</a></li>
                    <li><a href="/otat/">挨踢1024</a></li>
                    <li><a href="/qana/">你问我答</a></li>
                </ul>
            </div>
            <div class="title_mes_use">
                <div class="title_action">
                    <span class="iconfont">&#xe633;</span>
                    <span style="cursor: pointer;">动态</span>
                </div>
                <div class="title_hint">
                    <span class="iconfont">&#xe8be;</span>
                    <span style="cursor: pointer;">通知</span>
                </div>
            </div>
            <!-- 用户 -->
            <div class="title_user">
                <div class="imgs">
                    {% if username == null %}
                        <img src="/static/img/tx07.jpg" alt="">
                    {% else %}
                        <img src="/{{ img_path.path }}" alt="">
                    {% endif %}
                </div>
                <div class="user">
                    {% if username == null %}
                        <p class="username">登录/注册</p>
                    {% else %}
                        <p id="usern" class="username">{{ username }}</p>
                    {% endif %}

                </div>
            </div>
            <!-- 搜索栏 -->
            <div class="title_search">
                <div class="spans">
                    <span class="iconfont" style="cursor: pointer;">&#xe63c;</span>
                </div>
                <input type="text" name="search">
            </div>
        </div>
    </div>
    <!-- 中间主体 -->
    {% block content %}{% endblock %}
    {% block LoginOrRegister %}{% endblock %}
    {% block sends %}{% endblock %}
    <!-- 底部内容 -->
    <div class="bottoms"></div>
    <canvas id="c_n9" width="1920" height="2000"
            style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>

</body>

    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/plugins/dropzone/dropzone.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/canvas-nest.js"></script>
    <script src="/static/js/index-1.1.js"></script>
    <script src="/static/layui-v2.5.6/layui/layui.js"></script>
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#test-n1'
                , position: 'static'
            });
        });
    </script>
</html>