{% extends "fund.html" %}
{% block content %}
    <div class="content">
        <!-- 左侧块 -->
        <div class="left">
            <div class="left_title">
                <div class="left_title_mes">
                    <div class="left_hot"><p>最热</p></div>
                    <div class="left_new"><p>最新</p></div>
                    <div class="left_people"><p>人类发布</p></div>
                </div>
                <div class="left_title_time">
                    <p>3天</p>
                    <p>24小时</p>
                    <p>即时排序</p>
                </div>
                <div class="left_title_post">
                    <input type="button" value="+ &nbsp 发布" style="cursor: pointer;">
                </div>
            </div>
            <div class="left_message">
                <div class="left_message_hidden">
                    <h4>哈工大开发出“电子体毛”：可增加机器人的敏感性</h4>
                    <p>我们已经见识过许多版本的“触敏电子皮肤”，它可以为机器人或义肢带来“敏感性”上的加成，但多数专注
                    于“皮肤”本身，而忽略了“触感”。好消息是哈尔滨工业大学科学家们选择了一条不通过的发展道路，打造出一
                    种突出于弹性的玛法传感器...<p>
                </div>
                <div class="left_message_image">
                    <img src="../static/img/wlop.jpg" alt="">
                </div>
            </div>
            <div class="left_message">
                <div class="left_message_hidden">
                    <h4>哈工大开发出“电子体毛”：可增加机器人的敏感性</h4>
                    <p>我们已经见识过许多版本的“触敏电子皮肤”，它可以为机器人或义肢带来“敏感性”上的加成，但多数专注
                    于“皮肤”本身，而忽略了“触感”。好消息是哈尔滨工业大学科学家们选择了一条不通过的发展道路，打造出一
                    种突出于弹性的玛法传感器...<p>
                </div>
                <div class="left_message_image">
                    <img src="../static/img/wlop.jpg" alt="">
                </div>
            </div>
            <div class="left_message">
                <div class="left_message_hidden">
                    <h4>哈工大开发出“电子体毛”：可增加机器人的敏感性</h4>
                    <p>我们已经见识过许多版本的“触敏电子皮肤”，它可以为机器人或义肢带来“敏感性”上的加成，但多数专注
                    于“皮肤”本身，而忽略了“触感”。好消息是哈尔滨工业大学科学家们选择了一条不通过的发展道路，打造出一
                    种突出于弹性的玛法传感器...<p>
                    <div class="left_message_comment">
                        <div class="support">
                            <span class="iconfont">&#xe688;</span>
                        </div>
                        <div class="comment">
                            <span class="iconfont">&#xe632;</span>
                        </div>
                    </div>
                </div>
                <div class="left_message_image">
                    <img src="../static/img/wlop.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- 右侧块 -->
        <div class="right">
        </div>
        <!-- user下拉框 -->
        <div class="user_sonpage">
            <div class="user_sonpage_box">我的收藏</div>
            <hr style="top: 0;padding: 0;margin: 0;">
            <div class="user_sonpage_box" id="userLogin">登录</div>
            <hr style="top: 0;padding: 0;margin: 0;">
            <div class="user_sonpage_box" id="userRegister">注册</div>
            <hr style="top: 0;padding: 0;margin: 0;">
            <div class="user_sonpage_box">设置</div>
            <hr style="top: 0;padding: 0;margin: 0;">
            <div class="user_sonpage_box">退出</div>
        </div>
    </div>
{% endblock %}
{% block LoginOrRegister %}
    <!-- 遮罩层 -->
    <div class="box"></div>
    <!-- 登录层 -->
    <div class="login">
        <div class="login_title">
            <span>登录</span>
            <span class="iconfont" style="margin-left: 290px;cursor: pointer;">&#xe6dc;</span>
        </div>
        <div class="login_Msg">
            <p style="padding: 0;margin: 0;color:#aaaaaa;font-size:20px;">用户名登录 | 邮箱登录</p>
        </div>
        <form id="loginForm">
            <div class="login_Msg" id="login_Msg">
                <p><input type="text" name="username" id="username" placeholder="请输入用户名或邮箱"></p>
            </div>
            <div class="login_Msg" id="login_Msg">
                <p><input type="password" name="pwd" id="pwd" placeholder="请输入密码"></p>
            </div>
            <div class="login_Msg" id="login_Msg">
                <p style="overflow: hidden">
                    <span style="width: 90px;height: 30px;display:block;margin-left: 100px;float: left">
                        <img src="/checkCode/" alt="验证码" onclick="CheckCode(this)">
                    </span>
                    <input type="text" name="checkCodes" id="checkCodes" placeholder="请输入验证码" style="width: 100px;
                    height: 25px;float: right;margin-right: 100px;">
                </p>
            </div>
            <div class="login_Msg_check">
                <span><input type="checkbox" name="" style="width: 12px;height: 12px;">一个月内自动登录</span>
                <a href="#" style="color:red;font-size:12px;margin-left:30px;">忘记密码？</a>
            </div>
            <div class="login_Msg">
                <p><input type="button" value="登录" id="loginSend" style="background-color: rgb(50, 250, 250);color: white;"></p>
            </div>
        </form>
        <script>
            function CheckCode(ths){
                ths.src += '?';
            }
        </script>
    </div>

    <!-- 注册层 -->
    <div class="register" id="model_register">
        <div class="register_title">
            <span>注册</span>
            <span class="iconfont" style="margin-left: 290px;cursor: pointer;">&#xe6dc;</span>
        </div>
        <div class="register_Msg">
            <p style="padding: 0;margin: 0;color:#aaaaaa;font-size:20px;">输入注册信息</p>
            <div class="register_Msg_error" id="register_error_emailError" style="color: red;"></div>
        </div>
        <form id="formes">
            <div class="register_Msg">
                <p><input type="text" name="username" id="username" placeholder="请输入用户名"></p>
            </div>
            <div class="register_Msg">
                <p><input type="text" name="email" id="email" placeholder="请输入邮箱账号"></p>
            </div>
            <div class="register_Msg">
                <a id="register_reg" class="register_Msg_a" href="javascript:void(0);">获取验证码</a>
                <input type="text" name="usercode" id="usercode" placeholder="请输入邮箱验证码" style="width: 106px;
                    height: 25px;">

            </div>
            <div class="register_Msg">
                <p><input type="password" name="pwd" id="pwd" placeholder="请输入密码"></p>
            </div>
            <div class="register_Msg">
                <!--<p><input type="button" value="注册" id="register_ajax"
                          style="background-color: rgb(50, 250, 250);color: white;"></p>-->
                <div class="submit" onclick="registerTab(this);"
                     style="width: 200px;height: 28px;
                     background-color: rgb(50, 250, 250);
                     margin-left: 100px;cursor: pointer;"> <!-- onclick函数无需再写点击事件 -->
                    <span style="color: white;font-size: 20px;">注册</span>
                    <span class="hide" style="display: none;color: white;font-size: 20px;">
                        <img src="/static/img/loadinfo.gif" alt="" style="width: 16px;
                        height: 16px;margin-top: 4px;">
                        <span>正在注册</span>
                    </span>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function(){
            emailTab();
            {#registerTab(e);#}
            loginTab();
        });
        /* 邮箱验证 */
        function emailTab(){
            $('#register_reg').click(function(){
                {#1.清空以前的错误信息#}
                $("#register_error_emailError").empty();
                {#2.获取邮箱输入的值，判断邮箱是否为空#}
                var email = $("#email").val();
                console.log(email);
                {# trim()函数是用来去除空格的,注：此方法只适用于id属性获取的值 #}
                if(email.trim().length==0){
                    $("#register_error_emailError").text("请输入注册邮箱");
                    return;
                }
                {#6.判断是否发送了验证码,class属性名后面是否存在senging#}
                if($(this).hasClass("sending")){
                    {# 若存在sending，就执行return，执行return后下面的都不会执行 #}
                    return;
                }
                {#3.向后端传输数据以验证邮箱格式是否正确#}
                var ths = $(this);
                var time = 60;
                $.ajax({
                    url:'/useremail/',
                    data:{email:email},
                    type:'post',
                    dataType:'json',
                    headers : {
                        'Content-Type' : 'application/x-www-form-urlencoded'
                    },
                    success:function(arg){
                        {#4.如果回调函数的ret.status != True#}
                        if(!arg.status){
                            {#5.返回前端错误信息#}
                            $("#register_error_emailError").text(arg.emailError);
                        }else{
                            {#5.开始计时#}
                            ths.addClass('sending');{# 在class属性名后面添加sending #}
                            {# setInterval()函数的用法与setTimeout完全一致，区别仅仅在于setInterval 指定#}
                            {# 某个任务每隔一段时间就执行一次，也就是无限次的定时执行。注：1000 毫秒= 1 秒。#}
                            var interval = setInterval(function(){
                                ths.text("已发送("+time+")");
                                time -= 1;
                                if(time<=0){
                                    {#当时间小于等于0秒时清除执行函数interval#}
                                    clearInterval(interval);
                                    {# 移除class添加的sending #}
                                    ths.removeClass('sending');
                                    {# 还原标签的文本信息 #}
                                    ths.text("获取验证码");
                                }
                            },1000);
                        };
                    },
                });
            });
        }
        /* 注册验证 */
        function registerTab(ths){
            {#1.清空以前的错误信息#}
            $('#register_error_emailError').empty();
            $("#formes .register_Msg .error").remove();
            $(ths).children(':eq(0)').addClass('hide');
            $(ths).addClass('not-allow').children(':eq(1)').removeClass('hide');
            /* 循环获取input的name和input的值以键值关系存入字典中,通过ajax可向后端传值 */
           /* var formes = {};
            $('#model_register input').each(function(){
                formes[$(this).attr("name")] = $(this).val();
            }); */
            var formes = $("#formes").serialize();
            $.ajax({
                url:"/register/",
                type: "post",
                data:formes,
                dataType: "json",
                headers: {'Content-Type' : 'application/x-www-form-urlencoded'},
                success:function(arg){
                    if(!arg.status){
                        $.each(arg.registerError,function (k,v) {
                            var tag = document.createElement("p");
                            tag.className = "error";
                            tag.innerText = v[0]['message'];
                            tag.style = "color:red;font-size:12px;";
                            $('#formes input[name="'+k+'"]').after(tag);
                        })
                    }else{
                        alert("注册成功");
                        window.location.href = '/index';
                    }
                }
            });
            $(ths).removeClass('not-allow').children(':eq(1)').addClass('hide');
            $(ths).children(':eq(0)').removeClass('hide');
        }
        /* 登录验证 */
        function loginTab(){
            $("#loginSend").click(function(){
                $("#loginForm .login_Msg .error").remove();
                /*var forms={};
                $('#login_Msg input').each(function(){
                    formes[$(this).attr('name')] = $(this).val();
                    console.log(formes[$(this).attr('name')]);
                });*/
                var forms = $("#loginForm").serialize();
                $.ajax({
                    url:"/login/",
                    data:forms,
                    type:"POST",
                    dataType:'json',
                    headers:{'Content-Type' : 'application/x-www-form-urlencoded'},
                    success:function(arg){
                        if (!arg.status){
                            $.each(arg.registerError,function(k,v){
                                var tag = document.createElement("p");
                                tag.className = "error";
                                tag.innerText = v[0]["message"];
                                tag.style = "color:red;font-size:12px;";
                                /*bottom:0;border:1px solid black;" +
                                    "width:200px;height:20px;margin-left:100px;*/
                                $("#login_Msg input[name='"+k+"']").after(tag);
                            })
                        }else{
                            alert("登录成功");
                            location.href="/index/";
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}

