{% extends "fund.html" %}
{% load tags %}
{% block content %}
    <div class="content">
        <!-- 左侧块 -->
        <div class="left">
            <div class="left_title">
                <div class="left_title_mes">
                    <div class="left_hot"><p>最热</p></div>
                    <div class="left_new"><p>最新</p></div>
                    <div class="left_people"><p>人类发布</p></div>
                </div>
                <div class="left_title_time">
                    <p>3天</p>
                    <p>24小时</p>
                    <p>即时排序</p>
                </div>
                <div class="left_title_post">
                    <input id="left_title_send" type="button" value="+ &nbsp 发布" style="cursor: pointer;">
                </div>
            </div>
            <div class="" id="messages">
                <ul style="list-style:none;margin: 0;padding: 0">
                {% for foo in queryset %}
                <li>
                    <div class="send_user">
                        <div class="send_user_img">
                            <img src="/{{ foo.userSend.path }}" alt="" style="width: 30px;height: 30px;border-radius: 50%">
                        </div>
                        <div class="send_user_name">{{ foo.userSend.username }}</div>
                        <div class="send_user_time"><h7>{{ foo.ctime }}</h7></div>
                    </div>
                    <div class="left_message">
                        <div class="left_message_hidden">
                            <h2 style="margin-top: 10px;margin-bottom: 10px"><b>{{ foo.title }}</b></h2>
                            <p>{{ foo.message }}</p>
                        </div>
                        <div class="left_message_image">
                            <img src="/{{ foo.path }}" alt="">
                        </div>
                    </div>
                    <div class="left_message_mes">
                        <div class="left_message_zan" id="left_zan">
                            <span id="zan" class="iconfont" style="margin-left: 2px;cursor:pointer;">&#xe688;</span>
                            <span id="zan-num">{{ foo.favorcount }}</span>
                            <div id="msg-id" style="display: none;">{{ foo.id }}</div>
                        </div>
                        <div class="left_message_zan" >
                            <span id="comments" class="iconfont" style="margin-left: 2px;cursor:pointer;">
                                <a href="/comment-{{ foo.id }}/" style="text-decoration:none;color: black;">
                                    &#xe632;
                                </a>
                            </span>
                            <span>{{ foo.commentcount }}</span>
                            <div id="msg-id" style="display: none;">{{ foo.id }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                </ul>
            </div>

            <!-- 分页 -->
            <div class="mes_pages">
                {% if queryset.has_previous %}
                <div class="page_number_last">
                    <a href="?p={{ queryset.previous_page_number }}">上一页</a>
                </div>
                {% endif %}
                {% page_list queryset %}
                {% if queryset.has_next %}
                <div class="page_number_next">
                    <a href="?p={{ queryset.next_page_number }}">下一页</a>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- 右侧块 -->
        <div class="right">
            <div class="newsbox f_l " id="test-n1">
                <div class="newstitle"><h2><b>日历</b></h2></div>
            </div>
        </div>
        <!-- user下拉框 -->
        <div class="user_sonpage">
            {% if username == null %}
                <div class="user_sonpage_box" id="userLogin">登录</div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box" id="userRegister">注册</div>
                <hr style="top: 0;padding: 0;margin: 0;">
            {% else %}
                <div class="user_sonpage_box" id="like">收藏</div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box" id="management">
                    <a href="/management/?username={{ username }}" style="color: black;text-decoration: none;">管理</a>
                </div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box">
                    <a href="/history/?username={{ username }}" style="color: black;text-decoration: none;">历史</a>
                </div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box" id="settings">设置</div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box">
                    <a href="/logout/" style="color: black;text-decoration: none;">注销</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block LoginOrRegister %}
    <!-- 遮罩层 -->
    <div class="box"></div>
    <!-- 登录层 -->
    <div class="login">
        <div class="login_title">
            <span>登录</span>
            <span class="iconfont" style="margin-left: 290px;cursor: pointer;">&#xe6dc;</span>
        </div>
        <div class="login_Msg">
            <p style="padding: 0;margin: 0;color:#aaaaaa;font-size:20px;">用户名登录 | 邮箱登录</p>
        </div>
        <form id="loginForm">
            <div class="login_Msg" id="login_Msg">
                <p><input type="text" name="loginname" id="loginname" placeholder="请输入用户名或邮箱"></p>
            </div>
            <div class="login_Msg" id="login_Msg">
                <p><input type="password" name="pwds" id="pwds" placeholder="请输入密码"></p>
            </div>
            <div class="login_Msg" id="login_Msg">
                <p style="overflow: hidden">
                    <span style="width: 90px;height: 30px;display:block;margin-left: 100px;float: left">
                        <img src="/checkCode/" alt="验证码" onclick="CheckCode(this)">
                    </span>
                    <input type="text" name="checkCodes" id="checkCodes" placeholder="请输入验证码" style="width: 100px;
                    height: 25px;float: right;margin-right: 100px;">
                </p>
            </div>
            <div class="login_Msg_check">
                <span><input type="checkbox" name="" style="width: 12px;height: 12px;">一个月内自动登录</span>
                <a href="#" style="color:red;font-size:12px;margin-left:30px;">忘记密码？</a>
            </div>
            <div class="login_Msg">
                <p><input type="button" value="登录" id="loginSend" style="background-color: rgb(50, 250, 250);color: white;"></p>
            </div>
        </form>
        <script>
            function CheckCode(ths){
                ths.src += '?';
            }
        </script>
    </div>

    <!-- 注册层 -->
    <div class="register" id="model_register">
        <div class="register_title">
            <span>注册</span>
            <span class="iconfont" style="margin-left: 290px;cursor: pointer;">&#xe6dc;</span>
        </div>
        <div class="register_Msg">
            <p style="padding: 0;margin: 0;color:#aaaaaa;font-size:20px;">输入注册信息</p>
            <div class="register_Msg_error" id="register_error_emailError" style="color: red;"></div>
        </div>
        <form id="formes">
            <div class="register_Msg">
                <p><input type="text" name="username" id="username" placeholder="请输入用户名"></p>
            </div>
            <div class="register_Msg">
                <p><input type="text" name="email" id="email" placeholder="请输入邮箱账号"></p>
            </div>
            <div class="register_Msg">
                <a id="register_reg" class="register_Msg_a" href="javascript:void(0);">获取验证码</a>
                <input type="text" name="usercode" id="usercode" placeholder="请输入邮箱验证码" style="width: 106px;
                    height: 25px;">

            </div>
            <div class="register_Msg">
                <p><input type="password" name="pwd" id="pwd" placeholder="请输入密码"></p>
            </div>
            <div class="register_Msg">
                <!--<p><input type="button" value="注册" id="register_ajax"
                          style="background-color: rgb(50, 250, 250);color: white;"></p>-->
                <div class="submit" onclick="registerTab(this);"
                     style="width: 200px;height: 28px;
                     background-color: rgb(50, 250, 250);
                     margin-left: 100px;cursor: pointer;"> <!-- onclick函数无需再写点击事件 -->
                    <span style="color: white;font-size: 20px;">注册</span>
                    <span class="hide" style="display: none;color: white;font-size: 20px;">
                        <img src="/static/img/loadinfo.gif" alt="" style="width: 16px;
                        height: 16px;margin-top: 4px;">
                        <span>正在注册</span>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!-- 设置 -->
    <div class="user_sitting">
        <div class="user_sitting_title">
            <span>个人设置</span>
            <span class="iconfont" style="margin-left: 340px;cursor: pointer;">&#xe6dc;</span>
        </div>
        <div class="user_sitting_msg">
            <form id="user_sitting_sendnews">
                <div class="user_sitting_list">
                    用户名：<input type="text" id="rev_name" name="rev_name" placeholder="请输入修改的用户名">
                </div>
                <div class="user_sitting_list">
                    邮箱：<input type="text" id="rev_email" name="rev_email" placeholder="请输入修改的邮箱" />
                </div>
                <div class="user_sitting_list">
                    密码：<input type="text" id="rev_pwd" name="rev_pwd" placeholder="请输入修改的密码" />
                </div>
            </form>
            <div class="user_sitting_list">
                头像修改(上传)：<input type="file" name="imgfile" id="imgfile">
            </div>
            <div class="user_sitting_list">
                <input id="sitSend" type="button" value="提交" style="cursor: pointer;">
            </div>
        </div>
    </div>
{% endblock %}
{% block sends %}
    <!-- 发布 -->
    <div class="user_send">
        <div class="user_send_title">
            <span>动态发布</span>
            <span class="iconfont" style="margin-left: 340px;cursor: pointer;">&#xe6dc;</span>
        </div>
        <div class="user_send_msg">
            <form id="sendnews">
                <div class="send_list">标题：<input type="text" id="title" name="title" placeholder="标题"></div>
                <div class="send_list">内容：
                    <textarea id="textmsg" type="text" cols="40" rows="10"
                              placeholder="内容必填" style="resize:none"></textarea>
                </div>
                <div class="send_list">连接：<input type="text" id="url" name="url" placeholder="资源连接（可以为空）" /></div>
                <div class="send_list">分类：
                    <select name="" id="selectmsg">
                        <option value="1">42区</option>
                        <option value="2">段子</option>
                        <option value="3">图片</option>
                        <option value="4">挨踢1024</option>
                        <option value="5">你问我答</option>
                    </select>
                </div>
            </form>
            <div class="send_list">
                图片上传(最多上传一张图片)：<input type="file" id="userfile">
            </div>
            <div class="send_list">
                <input id="buttonSend" type="button" value="发布" style="cursor: pointer;">
            </div>
        </div>
    </div>
{% endblock %}










