{% extends "fund.html" %}
{% load tags %}
{% block content %}
    <div class="content">
        <!-- 左侧块 -->
        <div class="left">
            <div class="left_title">
                <div class="left_title_mes">
                    <div class="left_people"><p>动态管理</p></div>
                </div>
                <div class="left_title_time">
                    <p>3天</p>
                    <p>24小时</p>
                    <p>即时排序</p>
                </div>
                <div class="left_title_post">
                    <a href="/index/">
                        <input id="left_title_send" type="button" value="+ &nbsp 回退" style="cursor: pointer;">
                    </a>
                </div>
            </div>
            <div class="" id="messages">
                <ul style="list-style:none;margin: 0;padding: 0">
                {% for foo in queryset %}
                <li id="puk">
                    <div class="send_user">
                        <div class="send_user_img">
                            <img src="/{{ foo.userSend.path }}" alt="" style="width: 30px;height: 30px;border-radius: 50%">
                        </div>
                        <div class="send_user_name">{{ foo.userSend.username }}</div>
                        <div class="send_user_time"><h7>{{ foo.ctime }}</h7></div>
                    </div>
                    <div class="left_message">
                        <div class="left_message_hidden">
                            <h4>{{ foo.title }}</h4>
                            <p>{{ foo.message }}</p>
                        </div>
                        <div class="left_message_image">
                            <img src="/{{ foo.path }}" alt="">
                        </div>
                    </div>
                    <div class="left_message_mes">
                        <div class="left_message_zan" id="left_zan">
                            <span id="zan" class="iconfont" style="margin-left: 2px;cursor:pointer;">&#xe688;</span>
                            <span id="zan-num">{{ foo.favorcount }}</span>
                            <div id="msg-id" style="display: none;">{{ foo.id }}</div>
                        </div>
                        <div class="left_message_zan" >
                            <span id="comments" class="iconfont" style="margin-left: 2px;cursor:pointer;">
                                <a href="/comment-{{ foo.id }}/" style="text-decoration:none;color: black;">
                                    &#xe632;
                                </a>
                            </span>
                            <span>{{ foo.commentcount }}</span>
                            <div id="msg-id" style="display: none;">{{ foo.id }}</div>
                        </div>
                        <div class="left_message_zan">
                            <button type="submit" id="delete-submit">删除动态</button>
                        </div>
                    </div>
                </li>
                {% endfor %}
                </ul>
            </div>
            <div class="mes_pages"></div>
        </div>
        <!-- 右侧块 -->
        <div class="right">
        </div>
        <!-- user下拉框 -->
        <div class="user_sonpage">
            {% if username == null %}
                <div class="user_sonpage_box" id="userLogin">登录</div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box" id="userRegister">注册</div>
                <hr style="top: 0;padding: 0;margin: 0;">
            {% else %}
                <div class="user_sonpage_box" id="like">收藏</div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box" id="management">
                    <a href="/management/?username={{ username }}" style="color: black;text-decoration: none;">管理</a>
                </div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box">
                    <a href="/history/?username={{ username }}" style="color: black;text-decoration: none;">历史</a>
                </div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box" id="settings">设置</div>
                <hr style="top: 0;padding: 0;margin: 0;">
                <div class="user_sonpage_box">
                    <a href="/logout/" style="color: black;text-decoration: none;">注销</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block LoginOrRegister %}
    <!-- 设置 -->
    <div class="user_sitting">
        <div class="user_sitting_title">
            <span>个人设置</span>
            <span class="iconfont" style="margin-left: 340px;cursor: pointer;">&#xe6dc;</span>
        </div>
        <div class="user_sitting_msg">
            <form id="user_sitting_sendnews">
                <div class="user_sitting_list">
                    用户名：<input type="text" id="rev_name" name="rev_name" placeholder="请输入修改的用户名">
                </div>
                <div class="user_sitting_list">
                    邮箱：<input type="text" id="rev_email" name="rev_email" placeholder="请输入修改的邮箱" />
                </div>
                <div class="user_sitting_list">
                    密码：<input type="text" id="rev_pwd" name="rev_pwd" placeholder="请输入修改的密码" />
                </div>
            </form>
            <div class="user_sitting_list">
                头像修改(上传)：<input type="file" name="imgfile" id="imgfile">
            </div>
            <div class="user_sitting_list">
                <input id="sitSend" type="button" value="提交" style="cursor: pointer;">
            </div>
        </div>
    </div>
{% endblock %}






