<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-2.1.4.min.js"></script>
</head>
<style type="text/css">
    .item{
        height: 100px;
        border: 1px solid rebeccapurple;
    }
    .zan{
        height: 35px;
        width: 35px;
        background-color: #000000;
        color: white;
        position: relative;
        cursor: pointer;
    }
    .zan span{
        position: absolute;
        font-weight: bold;
    }
</style>
<script>
    $(function(){
        $(".zan").click(function(){
            var fz = 12; //font-size
            var tp = 5; //top
            var lf = 5; //left
            var op = 1; //opacity
            var tag = document.createElement("span");
            tag.innerHTML = "+1"; //因为是文本所以innerText与innerHtml的使用效果相同
            tag.style.color = "red";//字体颜色
            tag.style.fontSize = fz+ "px";//字体大小
            tag.style.top = lf + "px";//移动方向
            tag.style.opacity = op; //透明度
            $(this).append(tag);//把span标签添加到class属性值为zan的div的后面
            var tim = setInterval(function(){ //自动进行循环，直到条件达到clearInterval(tim)时停止
                fz += 5; //font-size
                tp += 5; //top
                lf += 5; //left
                op -= 0.2; //opacity
                tag.innerHTML = "+1";
                tag.style.color = "red";
                tag.style.fontSize = fz+ "px";
                tag.style.top = lf + "px";
                tag.style.opacity = op; //透明度
                if (op<0){ // 判定计时停止的条件
                    clearInterval(tim);
                    $("tag").remove();
                }

            },50)
        });
    })
</script>
<body>
<!--
<form action="/userp/">
    <input type="text">
</form>
-->
<div>
    <div class="item">
        <div class="zan">赞<span>+1</span></div>
    </div>
    <div class="item">
        <div class="zan">赞</div>
    </div>
    <div class="item">
        <div class="zan">赞</div>
    </div>
    <div class="item">
        <div class="zan">赞</div>
    </div>
</div>


</body>

</html>










